header {
  background-color: aquamarine;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100px;
}

.container {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  display: grid;
  column-gap: 10px;
  row-gap: 20px;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 20% 20% 20%;
}

.container .card img {
  width: 100%;
  height: 90%;
}

.card {
  width: 100px;
  height: 150px;
  padding: 20px;
}
